.mole-button {
display: flex;
height: 56px;
width: 10rem;
padding: 0;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 8px;
border: 1px solid var(--secondary-secondary, #23213D);
/* background: #23213D; */
color: #FFF;
font-size: 18px;
font-weight: 500;
cursor: pointer;

}

.mole-button:hover{
    opacity: 0.8;
}
.mole-button--primary {
    border: 1px solid #23213d;
    background-color: #23213d;
}
.mole-button--secondary {
    border: 1px solid #FE3756;
    background-color: #FE3756;
}

.mole-button--tertiary {
    border: 1px solid #e12b1b;
    background-color: #e12b1b;
}