.game-time, .moles-no, .control-buttons{
    display:flex;
    gap: 24px;
    margin-bottom: 38px;
    justify-content: flex-start;
}

.mole-warning{
    color: red;
    font-size: 2rem;
}

.mole-board {

    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 1rem;

    width: min-content;

}